/bgm
/cgs.rpy
/cgs.rpyc
/console.rpy
/console.rpyc
/credit.rpy
/credit.rpyc
/credits.rpyc
/definitions.rpyc
/demo.rpyc
/effects.rpy
/effects.rpyc
/glitchtext.rpy
/glitchtext.rpyc
/gui
/gui.rpy
/gui.rpyc
/Hole in Wall.txt
/images
/instructions.rpyc
/mod_assets
/monika.chr
/natsuki.chr
/options.rpy
/options.rpyc
/poems.rpyc
/poems_special.rpy
/poems_special.rpyc
/poemwords.txt
/python-packages
/rpatool.py
/sayori.chr
/screens.rpy
/screens.rpyc
/script-ch0.rpyc
/script-poemgame.rpy
/script-poemgame.rpyc
/script-poemresponses.rpy
/script-poemresponses.rpyc
/script-poemresponses2.rpy
/script-poemresponses2.rpyc
/script.rpyc
/sfx
/splash.rpy
/splash.rpyc
/transforms.rpy
/transforms.rpyc
/yuri.chr